body {
    background-color: aliceblue;
    color: rgb(81, 92, 109);
    height: 100%;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#main {
    display: flex;
    flex-direction: column;
}

#header {
    background-color: rgb(196, 211, 224);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 48px;
}

#top {
    font-size: 24px;
}

#bottom {
    font-size: 12px;
}

#ui {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 705px;
}

#button {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    gap: 16px;
    border: 3px, solid, rgb(196, 211, 224);
    height: 540px;
    width: 270px;
}

#new {
    background-color: rgb(206, 220, 233);
    color: rgb(81, 92, 109);
    font-weight: 900;
    font-size: 24px;
    box-sizing: border-box;
    margin: 8px;
    height: 100px;
    width: 100px;
    border-radius: 15px;
}

#gridContainer {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    gap: 0px;
    border: 3px, solid, rgb(196, 211, 224);
    height: 540px;
    width: 540px;
}

.hover {
    background-color: rgb(196, 211, 224);
}

#footer {
    background-color: rgb(196, 211, 224);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 36px;
}